<main class="container">
  <div class="row">
    <h1>{{tituloh1}}</h1>
    <hr>
    @if (configuracion.juegoFinalizado==false ) {
      <div class="col-6">
      <h2>Parámetros de configuración del juego</h2>
      <div class="row col-12">
        <label class="form-label">Nombre</label>
        <input [ngClass]="configuracion.jugador.nombre.trim() == '' ? ' is-invalid' : ''" class="form-control " autofocus type="text" [(ngModel)]='configuracion.jugador.nombre'>
      </div>

      <div class="row col-12">
        <label class="form-label">Apellido</label>
        <input [ngClass]="configuracion.jugador.apellido.trim() == '' ? ' is-invalid' : ''" class="form-control" type="text" [(ngModel)]="configuracion.jugador.apellido">
      </div>

      <div class="row col-12">
        <label class="form-label">Rango de números a generar</label>
        <input [ngClass]="configuracion.jugador.rango <= 0  ? ' is-invalid' : ''"  class="form-control" type="number" [(ngModel)]="configuracion.jugador.rango">
      </div>

      <div class="row col-12">
        <label class="form-label">Número de intentos</label>
        <input [ngClass]="configuracion.jugador.intentos <= 0  ? ' is-invalid' : ''" class="form-control" type="number" [(ngModel)]="configuracion.jugador.intentos">
      </div>

      <button class="btn btn-primary mt-3" (click)="this.generateRandom()">Recoger datos</button>
      </div>
      @if (configuracion.formularioinformado ) {
        <div class="col-6">
         
          <h2> Ongi etorri {{nombreJugador}}</h2>
          <div class="row col-12">
            <label class="form-label">Introduce el numero a adivinar</label>
            <input class="form-control" type="number" [(ngModel)]="configuracion.numeroInsertado">
          </div>
          <div>
            <label class="mt-3">Intentos restantes <span class="badge text-bg-primary">{{configuracion.intentos}}</span></label>
          </div>

          @if (configuracion.intentos != null) {
            <div class="mt-3">
              <p *ngIf="acertado!=null">
                ¿Has adivinado?:
                <span [ngSwitch]="this.acertado">
                  <label *ngSwitchCase="false"><span class="badge text-bg-danger">No!</span></label>
                  <label *ngSwitchCase="true"><span class="badge text-bg-success">Sí</span></label>
                </span>
              </p>
            </div>
          }

          <button class="btn btn-secondary"
            (click)="configuracion.intentos != null && (acertado==null || acertado==false)? this.comprueba() : false ">
            Enviar </button>
          <hr>
          <div class="content" *ngIf="configuracion.intentos==0">
            <p>"Se han acabado los intentos"</p>
            <ul>
              <li *ngFor="let numero of this.configuracion.listaNumerosIntentos">
                {{numero}}
              </li>
            </ul>
          </div>
        </div>
      }
    }

    @if (configuracion.juegoFinalizado==true ) {
      <h1> Gracias por participar</h1>
    }
  </div>



</main>
<router-outlet />